@use "../../../styles/mixins" as *;
@use "../../../styles/abstracts" as *;
@use "../../../styles/components" as *;

.layouts {
  &__auth-wrapper {
    @include centerChild;
    height: 100vh;

    & > div {
      @include authForm;

      @media only screen and (max-width: 900px) {
        width: 120vw;
        height: 60%;

        button {
          height: 6vh !important;
        }

        .elements__input {
          margin: 20px 0px 20px 0px !important;

          input {
            width: 100% !important;
            height: 6vh !important;
          }
        }
      }

      @media only screen and (max-width: 490px) {
        a {
          text-align: center;
        }

        h1 {
          font-size: 30px;
        }

        .elements__input {
          font-size: 12px;
        }
      }
    }

    @media only screen and (max-width: 360px) {
      width: 100vw;
      @include center;
      h1 {
        font-size: 20px;
      }

      .elements__input {
        font-size: 10px;
      }
    }
  }
}
