@use "./abstracts" as *;
@use "./mixins" as *;

body {
  margin: 0px;
  padding: 0px;
  font-family: $defaultText;
  background-color: $raisin-dark;
  box-sizing: content-box;
  -webkit-tap-highlight-color: transparent;

  @include scrollbar;
}
