@use "../../../styles/mixins" as *;
@use "../../../styles/abstracts" as *;
@use "../../../styles/components" as *;

.modules {
  &__message-form {
    bottom: 4vh;
    @include centerHorizontal;
    display: flex;
    border-radius: 8px;
    background-color: $raisin;
    height: 5vh;
    width: 100%;
    justify-content: space-between;

    input[name="message"] {
      width: 23vw;
      height: 4vh;
      padding-left: 20px;
    }

    > div {
      height: 100%;
      margin-right: 15px;
      @include centerChild;
      justify-self: flex-end;

      button {
        @include button-circled(4vh);
        @include centerChild;

        img {
          margin-left: 3px;
          width: 2.5vh;
        }
      }
    }

    @media only screen and (max-width: 900px) {
      height: 8vh;

      > div {
        button {
          @include button-circled(6vh);
        }
      }
    }

    @media only screen and (max-height: 900px) {
      height: 8vh;

      input[name="message"] {
        height: 8vh;
        @include round;
      }

      > div {
        button {
          @include button-circled(6vh);
        }
      }
    }

    @media only screen and (max-height: 550px) {
      height: 10vh;

      input[name="message"] {
        height: 10vh;
      }
    }
  }
}
