@use "../../../styles/abstracts" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/components" as *;

.layouts {
  &__messages-wrapper {
    width: 100%;
    background-color: $raisin-light;
    @include centerChild;

    > div {
      width: 60%;
      height: 100%;
      position: relative;
    }

    #no-messages {
      @include loadingMessage;
    }

    @media only screen and (max-width: 700px) {
      height: 100vh;
    }

    @media only screen and (max-width: 700px) {
      > div {
        width: 90vw;
      }
    }
  }
}
