@use "../../../styles/abstracts" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/components" as *;

.layouts {
  &__messages-wrapper {
    width: 100%;
    background-color: $raisin-light;
    @include centerChild;

    > div {
      width: 60%;
      height: 100%;
      position: relative;
    }

    #no-messages {
      div {
        position: relative;
        @include center;
        font-size: 120%;
        text-align: center;

        &::before {
          content: "";
          position: absolute;
          top: -10px;
          left: -10px;
          background-color: rgba($grey, 0.1);
          width: 100%;
          height: 100%;
          padding: 10px;
          z-index: -1;
          @include round;
        }
      }
    }

    @media only screen and (max-width: 700px) {
      height: 100vh;
    }

    @media only screen and (max-width: 700px) {
      > div {
        width: 90vw;
      }
    }
  }
}
